body{
	margin: 0;
	padding: 0;
}
#container{
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
}
#bgback{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: -1000;
}
#SignIn{
	top: 75px;
	line-height: 41px;
	background-color: rgba(251, 251, 251, 1);
	text-align: center;
	box-shadow: 5px 5px 10px 5px rgba(170, 170, 170, 0.48);
	border: 1px solid rgba(187, 187, 187, 1);
	width: 1158px;
	height: 808px;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
}
#SignLeft{
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
	display: block;
}
#Logo{
	height: 105px;
	width: 160px;
	position: relative;
	float: left;
}
#LogoHref{
	text-decoration: none;
	width: 120px;
	height: 105px;
	float: left;
	display: block;
}
#LogoImg{
	width: 110px;
	height: 105px;
	border-radius: 5px;
}
#Name{
	display: block;
	float: left;
	width: 40px;
	height: 105px;
	line-height: 105px;
	color: rgba(16, 16, 16, 1);
	font-size: 20px;
	text-align: left;
	font-family: Times New Roman-regular;
}
#Image{
	margin-top: 100px;
	width: 100%;
	height: 400px;
	display: block;
	float: left;
	position: relative;
}
#SignImage{
	width: 589px;
	height: 359px;
}
#SignRight{
	width: 35%;
	height: 100%;
	float: right;
	position: relative;
	display: block;
	text-align: center;
}
#SignText{
	position: relative; 
	display: block;
	width: 80%;
	top: 60px;
	color: rgba(64, 145, 175, 1);
	line-height: 36px;
	font-size: 36px;
	font-family: 方正兰亭黑-标准;
	float: left;
}
#Welcome{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	top: 60px;
	height: 24px;
	color: rgba(16, 16, 16, 1);
	font-size: 24px;
	line-height: 24px;
	text-align: left;
	font-family: Times New Roman-regular;
}
#SignInfo{
	width: 100%;
	height: 250px;
	position: relative;
	float: left;
	margin-top: 20px;
}
#SignName{
	width: 310px;
	height: 63px;
	position: relative;
	float: left;
	top: 70px;
}
#account{
	width: 310px;
	height: 63px;
	border-radius: 8px;
	color: rgba(136, 136, 136, 1);
	font-size: 20px;
	text-indent: 1em;
	text-align: left;
	font-family: Roboto;
	border: 1px solid rgba(187, 187, 187, 1);
	outline: none;
}
#SignPass{
	width: 310px;
	height: 63px;
	position: relative;
	float: left;
	top: 100px;
}
#password{
	width: 310px;
	height: 63px;
	border-radius: 8px;
	color: rgba(136, 136, 136, 1);
	font-size: 20px;
	text-indent: 1em;
	text-align: left;
	font-family: Roboto;
	border: 1px solid rgba(187, 187, 187, 1);
	outline: none;
}
#AboutPass{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 40px;
	position: relative;
	float: left;
}
#MemoryPass{
	position: relative;
	width: 220px;
	float: left;
	margin-left: 15px;
}
#memory{
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	margin: 0;
	outline: none;
}
#MemoryText{
	margin-left: 3px;
	font-size:14px;
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	font-family: SourceHanSansSC-regular;
}
#ForgetPass{
	position: relative;
	float: left;
}
#forget{
	text-decoration: none;
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	font-family: SourceHanSansSC-regular;
	transition: all .2s;
}
#forget:hover{
	color: #00a1d6;
}
#Button{
	width: 100%;
	height: 100px;
	position: relative;
	float: left;
	display: block;
}
#ButtonSign{
	margin-left: 5px;
	position: relative;
	float: left;
	display: block;
	border: none;
	width: 113px;
	height: 36px;
	line-height: 20px;
	border-radius: 2px 2px 2px 2px;
	background-color: rgba(130, 197, 216, 1);
	text-align: center;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-family: Roboto-regular;
	outline: none;
}
#ButtonRegister{
	margin-left: 10px;
	position: relative;
	display: block;
	border: none;
	width: 113px;
	height: 36px;
	line-height: 20px;
	border-radius: 2px 2px 2px 2px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
	color: rgba(158, 158, 158, 1);
	font-size: 14px;
	font-family: Roboto-regular;
	float: right;
	margin-right: 100px;
	outline: none;
}
